$colorTitulos: orange;

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,
h2,
h3 {
    font-family: 'Comfortaa',
        cursive;
}
h1 {
    color: blue;
    font-size: 24px;
}

h2 {
    color: orange
}

ul {
    list-style: none;

    li {
        padding: 5px;
    }
}

.card {
    border: none;
}

header {
    background-image: url("https://i.ytimg.com/vi/NAiI8qWY0GM/maxresdefault.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    h1 {
        background-color: rgba(0, 0, 0, 0.574);
        color: white;
        display: inline-block;
        padding: 5px
    }
}

p {
    font-family: 'Open Sans',
        sans-serif;
}



.py-10 {
    padding-top: 200px;
    padding-bottom: 200px;
}

#videos iframe {

    transition: all 0.5s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}